{% extends 'base.html.twig' %}

{% block title %}Add Player{% endblock %}

{% block body %}
    <div class="row mt-lg-5">
        <div class="col-12">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                <div class="card-body w-100">
                    {{ form_start(form, {'attr' : { 'id' : 'player'}}) }}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            {{ form_row(form.name) }}
                            <span>{{ form_errors(form.name) }}</span>
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_row(form.surname) }}
                            <span>{{ form_errors(form.surname) }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.price) }}
                        <span>{{ form_errors(form.price) }}</span>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $('#register').validate({#}
{#                'errorElement': 'span',#}
{#                'errorClass': 'text-danger',#}
{#                rules: {#}
{#                    'register[firstname]': 'required',#}
{#                    'register[email]': {#}
{#                        required: true,#}
{#                        email: true,#}
{#                    },#}
{#                    'register[password][first]': {#}
{#                        required: true,#}
{#                    },#}
{#                    'register[password][second]': {#}
{#                        required: true,#}
{#                        equalTo: "#register_password_first"#}
{#                    },#}
{#                    'register[image]': {#}
{#                        required: true,#}
{#                        extension: "jpg"#}
{#                    }#}
{#                },#}
{#                messages: {#}
{#                    'register[firstname]': 'This field is required',#}
{#                    'register[email]': {#}
{#                        required: 'This Field is required',#}
{#                        email: 'Enter valid email'#}
{#                    },#}
{#                    password: {#}
{#                        minlength: 'Password must be at least 8 characters long'#}
{#                    }#}
{#                }#}
{#            });#}
{#        })#}
{#    </script>#}
{% endblock %}
