<tr>
    <td>{{ team.id }}</td>
    <td>{{ team.name }}</td>
    <td>{{ team.country }}</td>
    <td>{{ team.moneyBalance }}</td>
    <td>
        <div class="d-flex">
            <a href="{{ path('app_team_action', {id: team.id}) }}" class="m-lg-2 btn btn-primary"
               data-bs-popup="tooltip" data-bs-original-title="Add Team">Update Team</a>

            <a href="{{ path('app_sell_player', {id: team.id}) }}" class="m-lg-2 btn btn-primary" data-bs-popup="tooltip"
               data-bs-original-title="Player">Players</a>

            <a href="{{ path('app_team_action') }}" class="m-lg-2 btn btn-primary" data-bs-popup="tooltip"
               data-bs-original-title="Add Team">Add Team</a>

            <a href="{{ path('app_team_action') }}" class="m-lg-2 btn btn-primary" data-bs-popup="tooltip"
               data-bs-original-title="Add Team">Add Team</a>
        </div>
    </td>
</tr>
