{% extends 'base.html.twig' %}
{% set active = 'team' %}

{#{% set active = 'cp_leagues' %}#}
{#{% block title %} Add Players | League | Poolnament {% endblock %}#}
{#{% set breadcrumbs = [#}
{#    {#}
{#        'link': path('cp_dashboard'), 'title': 'Home',#}
{#    },#}
{#    {#}
{#        'title': 'Leagues',#}
{#        'link': path('cp_leagues')#}
{#    },#}
{#    {#}
{#        'title': 'Add Players'#}
{#    }#}
{#] %}#}


{% block content %}
    <div class="card m-0 p-0">
        <div class="table-responsive">
            <div class="card-header">
                <h5 class="p-0 m-0">
                    Players
                </h5>
            </div>
            <table class="table table-striped table-xs">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Buy Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        <td>{{ player.id }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.surname }}</td>
                        <td>{{ player.IsAvailableForSell ? player.sellingPrice != 0 ? player.sellingPrice : player.price : player.price}}</td>
                        <td>
                            <button onclick="if (confirm('Sure Want To Buy Player')){ window.location.href = '{{ path('app_buy_player',{id: teamId , pId:player.id }) }}' }" class="m-lg-2 btn btn-indigo"
                               data-bs-popup="tooltip" data-bs-original-title="Buy Player">Buy</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No Records Found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
