<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('assets/fonts/inter/inter.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/icons/phosphor/styles.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css') }}">
    <script src="{{ asset('assets/js/theme_switcher.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ asset('assets/js/vendor/visualization/d3/d3.min.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/visualization/d3/d3_tooltip.js') }}"></script>

    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('assets/global_assets/js/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/global_assets/js/plugins/visualization/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/global_assets/js/plugins/pickers/daterangepicker.js') }}"></script>
    <script src="{{ asset('assets/js/custom_jquery.js') }}"></script>
    <script src="{{ asset('assets/js/vendor/form/select2.min.js') }}"></script>
    <script src="{{ asset('assets/global_assets/js/plugins/buttton/spin.min.js') }}"></script>
    <script src="{{ asset('assets/global_assets/js/plugins/buttton/ladda.min.js') }}"></script>
</head>
<body>

{% if app.user %}
        {% include 'helper/navbar.html.twig' %}
        <div class="page-content">

            {% include 'helper/sidebar.html.twig' %}
            <div class="content-wrapper dashboard-content">
                <div class="content-inner">
                    {% include 'helper/page_header.html.twig' %}
                    <div class="content">
                        {% if tab is not defined %}
                            {% include 'helper/messages.html.twig' %}
                        {% endif %}
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ asset('assets/js/custom.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
{% else %}
    {% block logincontent %}
    {% endblock %}
{% endif %}
</body>
</html>
